:root {
  --main-color: #ff2600;
  --secondary-color: #ffe100;
}

html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

 @media (max-width: 300px) {
  .container {
    width: 360px;
  }
}

/* small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium*/

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

/* start header */
/* start header */
/* start header */
.header {
  background-color: #ffffff;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header img {
  width: 110px;
  margin: 0px;
  padding: 0px;

  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes thebest {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
  color: #ff0000;
}

.header .container .name span {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    background-color: #fff;
    height: 50px;
    padding-bottom: 20px;
    padding-top: -200px;
    margin-top: 0px;
  }

  .header img {
    width: 40px;
  }

  .header .container .name {
    font-size: 14px;
    color: var(--main-color);
  }
}

    /* The offer */
   /* The offer */
  /* The offer */

  .title{
    margin-top: 20px;
    margin-bottom: -25px;
    text-align: center;
  }
  .title .text{

    font-size: 50px;
  }

    .title .text:hover{
color: #ffe100;
    font-size: 55px;
  }

  /* start offer */
 /* staer offer */
/* start offer */

.offer .container{
 margin-top: 50px;
 width: 80%;
 
padding-bottom: 10px;

}

.offer .row{
  
    direction: rtl;
 
 color: #ffffff;
 font-size: 22px;

}
.offer .row span{

   color:  var(--secondary-color);
   font-size: 28px;
}
 
 .offer .row .ffer{

font-size: 28px;
color: #d5ff19;

 }
 
 .offer .container  fieldset:hover{

   border: var(--secondary-color) 5px solid;
 
}
 

   /* start  click */
  /* start  click */
 /* start  click */


 
  .click .container form {
 
 margin-bottom: 30px;
 
 
text-align: center;

 }

  .container form .text{

font-size: 40px;
color: var(--secondary-color);
line-height: 2;

 }

  .container form  a{

font-size: 40px;
background-color: rgba(120, 56, 56, 0.447);
color: #000;

border: 2px solid black;
padding: 5px;
 
 

 }
 
  .container form a:hover{
color: var(--secondary-color);
font-size: 45px;
 

 }